.button {
  display: inline-block;
  min-width: 252px;
  max-width: 468px;
  padding: 22px 48px;

  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: $lightest;
  letter-spacing: 0.03em;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: $bright-main;
  border-radius: 65px;

  border: none;
  outline: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: lighten($bright-main, 5%);
  }

  &:focus {
    outline: 1px dashed rgba($bright-main, 0.5);
    outline-offset: 5px;
  }

  &:active {
    outline: none;

    opacity: 0.3;

    &:disabled {
      opacity: 1;
    }
  }

  &--small {
    min-width: 219px;
    max-width: 219px;
    padding: 15px 28px;

    font-size: 14px;
    line-height: 16px;
  }

  &:disabled {
    background-color: #b8b8b8;

    cursor: default;
  }
}

@media (max-width: $mobile-max-width) {
  .button {
    &--small,
    &--hybrid {
      min-width: 185px;
      max-width: 328px;
      padding: 15px 28px;

      font-size: 14px;
      line-height: 16px;

      border-radius: 47px;
    }
  }
}
