.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: 480px;
  padding: 32px;

  background-color: $darkest;
  background-image: linear-gradient(0deg, $darkest 0%, $dark 100%);

  border-radius: 3px;

  transform: translate(-50%, -50%);

  h2 {
    margin: 0;

    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    color: $lightest;
  }

  p {
    margin: 0;
  }

  &--hidden {
    display: none;
  }

  &--page {
    position: static;

    margin: 0 auto;
    padding: 0 32px;

    background-color: transparent;
    background-image: none;

    transform: translate(0, 0);

    h2 {
      text-align: center;
    }
  }

  &--city-chooser-page {
    h2 {
      text-align: left;
    }
  }
}

.modal__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  overflow: auto;

  &--hidden-scroll {
    overflow-y: hidden;
  }
}

.modal__close-button {
  position: absolute;
  top: 41px;
  right: 37px;

  width: 14px;
  height: 14px;

  background-color: transparent;

  border: none;
  outline: none;

  cursor: pointer;

  svg {
    stroke: rgba($lightest, 0.5);
  }

  &:hover,
  &:focus {
    svg {
      stroke: $bright-main;
    }
  }

  &:active {
    svg {
      stroke: rgba($bright-main, 0.2);
    }
  }
}

@media (max-width: $mobile-max-width) {
  .modal {
    width: 100%;
    min-width: 360px;
    height: 100vh;
    padding: 32px 16px;

    &--page {
      max-width: 416px;
      min-width: 328px;
      height: auto;
      padding: 0;
    }
  }

  .modal__wrapper {
    max-width: 416px;
    margin: 0 auto;
  .modal__close-button {
    right: 20px;
  }
}
