.order-form {
  width: 100%;
  margin-top: 35px;
  padding-right: 150px;
  padding-left: 136px;
}

.order-form__block-header {
  margin-bottom: 13px;
}

.order-form__date-chooser {
  display: flex;
  align-items: center;
  min-height: 76px;
  padding-top: 33px;
  padding-left: 47px;

  border-top: 1px solid rgba($light, 0.25);
}

.order-form__button {
  width: 120px;
  min-height: 34px;
  margin-right: 24px;
  padding: 0;

  font: inherit;
  color: $lightest;

  background-color: transparent;

  border: none;
  border-bottom: 2px solid $bright-main;
  outline: none;

  cursor: pointer;

  svg {
    margin-left: 1px;

    fill: $lightest;
  }

  &:hover,
  &:focus {
    svg {
      fill: $bright-main;
    }
  }

  &:focus {
    outline: 1px dotted rgba($bright-main, 0.5);
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.3;
  }
}

.order-form__date-chooser-label {
  display: inline-block;
  padding-bottom: 4px;

  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  vertical-align: top;
  font-feature-settings: "pnum" off, "lnum" off;
}

.order-form__time-chooser {
  padding-left: 47px;
}

.order-form__time-chooser-info {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;

  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: rgba($lightest, 0.82);
}

.order-form__time-chooser-info-item {
  position: relative;
  margin-right: 25px;
  margin-bottom: 10px;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    border: 2px solid rgba($lightest, 0.82);
    border-radius: 3px;
  }

  &--occupied {
    &::before {
      background-color: $bright-main;
      background-image: linear-gradient(158.6deg, $bright-main 9.78%, #b8600f 79.81%);

      border-color: transparent;
    }
  }

  &--chosen {
    &::before {
      background-color: $bright-success;
      background-image: linear-gradient(180deg, $bright-success 0%, #13ba19 100%);

      border-color: transparent;
    }
  }
}

.order-form__time-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 83%;
}

.order-form__time-field {
  display: flex;
  flex-direction: column;
  width: 110px;
  margin-right: 32px;
  margin-bottom: 32px;

  color: $lightest;
  text-align: center;

  input {
    @include visually-hidden;

    &:focus + label {
      outline-color: rgba($bright-success, 0.4);
      outline-offset: 5px;
    }

    &:checked + label,
    &:disabled + label {
      padding-top: 8px;
      padding-bottom: 8px;

      background: linear-gradient(180deg, $bright-success 0%, #13ba19 100%);

      border: none;
      cursor: default;
    }

    &:checked + label {
      background: linear-gradient(180deg, $bright-success 0%, #13ba19 100%);
    }

    &:disabled + label {
      background-image: linear-gradient(158.6deg, $bright-main 9.78%, #b8600f 79.81%);
    }
  }

  label {
    display: inline-block;
    width: 110px;
    height: 38px;
    margin-bottom: 3px;
    padding: 6px;

    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.05em;

    border: 2px solid rgba($lightest, 0.82);
    border-radius: 65px;
    outline: 1px dashed transparent;
    outline-offset: 3px;

    cursor: pointer;
  }

  p {
    position: relative;

    max-width: 100%;
    margin: 0 auto;
    padding-right: 10px;

    font-size: 12px;
    line-height: 17px;
    word-wrap: break-word;

    &::before {
      content: "";
      position: absolute;
      bottom: 4px;
      right: 0;

      width: 7px;
      height: 9px;

      background-image: url("../img/bg-logo-ruble.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .order-form {
    margin-top: 35px;
    padding: 0 86px;
  }

  .order-form__date-chooser {
    min-height: 67px;
    padding-top: 24px;
    padding-left: 35px;

  .order-form__time-chooser {
    padding-left: 0;
  }

  .order-form__time-list {
    width: 100%;
  }
}

@media (max-width: $mobile-max-width) {
  .order-form {
    max-width: 613px;
    min-width: 360px;
    margin-top: 13px;
    padding: 0 16px;
  }

  .order-form__date-chooser {
    min-height: 72px;
    padding-top: 29px;
    padding-left: 0;
  }

  .order-form__button {
    margin-right: 16px;
  }
}
