.question-link {
  position: relative;

  display: inline-block;
  max-width: 94px;
  margin-top: 5px;
  padding-bottom: 3px;

  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: $light;
  text-align: right;
  vertical-align: top;
  word-wrap: break-word;

  border-bottom: 1px dashed $light;

  pointer-events: auto;

  &::before {
    content: "?";
    position: absolute;
    top: 0;
    left: -4px;

    display: none;
    width: 10px;
    height: 17px;
  }

  &:hover,
  &:focus {
    padding-left: 10px;

    color: $bright-main;

    border-bottom-color: $bright-main;

    &::before {
      display: block;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .question-link {
    max-width: 130px;
    margin-top: 6px;

    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
}
