.site-navigation {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 578px;

  word-wrap: break-word;

  li {
    max-width: 100%;
    margin-right: 47px;
    margin-bottom: 7px;

    word-wrap: break-word;

    &:last-child {
      margin-right: auto;
    }
  }

  a {
    @include link;
    word-wrap: break-word;
  }
}

@media (max-width: $tablet-max-width) {
  .site-navigation {
    flex-direction: column;
    width: 100%;
    padding-top: 38px;

    text-align: center;

    li {
      margin-right: 0;
      margin-bottom: 37px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
