.specific-quest {
  width: 100%;
  padding: 0 86px;
}

.specific-quest__column {
  max-width: 57%;
  margin-left: auto;
  padding-top: 53px;

  &--high {
    padding-top: 94px;
  }

  &--low {
    padding-top: 0;
  }

  &--wide {
    max-width: 680px;
  }

  p {
    width: 76.8%;
    min-width: 466px;
    margin: 0;
    margin-bottom: 21px;

    &:last-of-type {
      margin-bottom: 42px;
    }

    margin-left: 31px;
  }
}

.specific-quest__block-header {
  margin-bottom: 21px;
}

.specific-quest__quest-metadata {
  margin-bottom: 8px;
  margin-left: 31px;
}

.specific-quest__button {
  margin-left: 31px;
}

@media (max-width: $tablet-max-width) {
  .specific-quest__column {
    max-width: 61%;
    min-width: 447px;
    padding-top: 0;

    p {
      width: 90%;
      min-width: 415px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .specific-quest {
    padding: 0 16px;
  }

  .specific-quest__block-header {
    min-height: 381px;
  }

  .specific-quest__column {
    max-width: 600px;
    min-width: 328px;
    margin-right: auto;

    p {
      width: 101%;
      min-width: 328px;
      margin-bottom: 15px;
      margin-left: 0;

      &:last-of-type {
        margin-bottom: 25px;
      }
    }
  }

  .specific-quest__quest-metadata {
    margin-bottom: 3px;
    margin-left: 9px;
  }

  .specific-quest__button {
    margin-left: 0;
  }
}
