html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-width: $mobile-min-width;
  min-height: 100vh;
  margin: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: $light;

  background-color: $darker;
  background-image: linear-gradient(0deg, $darkest 0%, $dark 100%);
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
