// colors
// width
$desktop-max-width: 1366px;
$desktop-min-width: 1024px;
$tablet-max-width: 1023px;
$tablet-min-width: 768px;
$mobile-max-width: 767px;
$mobile-min-width: 360px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
